<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 <h1>Place and Area</h1>

{% for place in places %}

    Name: {{ place.name }}<br>
    Area: {% for area in place.area.all %}
            {{ area }} ,
               {% endfor %}
 <br>
<!--    Area: {{ place.area}}-->
 <br>

{% endfor %}
<hr>
{% for i in files %}
 <h1> {{ i.title}}</h1>
 <h4 href={{i.playStore_link}}>PlayStore Link</h4>
   <a href="{{ i.file.url }}">Download Certification</a>
{% endfor %}
</body>
</html>