<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like/Dislike</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
 <h1>Like Dislike</h1>

<div class="container-1 left">
   <div class="f-card content">
      <h2>{{page_obj.created_at}}</h2>
      <p>{{page_obj.content}}.</p>
      <div class="text-left">
         <span class="pointer">
            {% if request.user in page_obj.likes.users.all%}
            <!-- already liked-->

            <a href="{% url 'requirement_comment_vote' pk=page_obj.pk option='like' %}">

                <i data-toggle="tooltip" data-placement="bottom" title="Unlike" class="like fas fa-thumbs-up pr-2">
                         <span>{{page_obj.get_total_likes}}</span>
                </i>

            </a>
            {% else %}
            <!--not liked-->

<!---->
            {% endif %}
         </span>
         <span class="ml-3 pointer">
         {% if request.user in page_obj.dis_likes.users.all %}

         <a href="{% url 'requirement_comment_vote' comment_id=page_obj.pk option='dis_like' %}">
             <i data-toggle="tooltip" data-placement="bottom" title="i dislike this" class="dislike fas fa-thumbs-down pr-2">
                <span>{{page_obj.get_total_dis_likes}}</span>
             </i>
         </a>
         {% else %}


         {% endif %}
         </span>
      </div>
      <p class="text-right">{{page_obj.user.first_name}} {{page_obj.user.last_name}}.
         {% if page_obj.user == request.user  %}
         <span>
             <a class="circle-card" href="{% url 'requirement_comment_update' page_obj.id %}">
                    <i class="fas fa-edit"></i>
             </a>
         </span>
         {% endif %}
      </p>
   </div>
</div>

</body>
</html>